footer.footer
  .wrap
    .footer__inner
      span.footer__copy
      .footer__details
        span Designed & coded with 🔥 by Elena Bravo while listening to
        a.footer__link(href="https://spoti.fi/3JVSAsH", target="_blank")
          .footer__link__icon(data-hover="🤘")
            img(src="./images/spotify.svg" alt="Spotify's logo").footer__link__icon__image
