section.section#about.about
  .wrap.about__wrap
    .about__row.about__row--fist
      h2.about__heading About
      p.about__text.about__text--first Hi, I'm Elena Bravo, a multidisciplinary front-end developer and digital designer based in Madrid, Spain. With over 7 years of experience working with all types of clients and projects, I thrive on bringing both the technical and visual aspects of digital products to life.

      .about__profile__container
        .card
          .card__image
            .card__image--inner
        .about__profile__loading
          img.about__profile__loading__img(src="./images/profile-bw.jpg" alt="Elena Bravo profile photo in black and white")
        img.about__profile__bolt.about--bolt(src="./images/bolt.svg", alt="bolt")

    .about__row.about__row--second
      .about__text__container.about__text--second
        img.about__text__img.about--skull(src="./images/skull.svg", alt="skull logo")
        p.about__text My main focus as a developer is building accessible, high performance and inclusive digital experiences without sacrificing creativity. Basically, I like creating cool sh*t.

    .about__row.about__row--third
      p.about__text.about__text--third
        span I'm currently working as a lead senior front-end developer at
        a(href="https://samy.com/", target="_blank").about__text--link Samy
        span and developing smaller projects for friends from time to time. I'm always available for fun and interesting side projects, so feel free to get in touch if you'd like to work together.
