section.section#contact.contact
  .wrap.contact__wrap
    .contact__row
      h2.text-img.contact__heading.contact__heading--h2 Get in touch
    .contact__row.contact--email
      .contact__details__wrapper
        a.link.contact__details(href="mailto:mailto:hey@elenabravo.com")
          .contact__details--hey
            .link--inner.contact__details__inner
              .link--hover.contact__details__hover
                img(src="./images/hover-line-sm.svg")
            span.contact__details__label hey@
          .contact__details--website
            .link--inner.contact__details__inner
              .link--hover.contact__details__hover
                img(src="./images/hover-line-xl.svg")
            span.contact__details__label elenabravo.com
      img.contact__img(src="./images/ghost.svg")

    .contact__row.contact--follow
      h3.text-img.contact__heading.contact__heading--h3 Follow me
      ul.contact__social
        li.contact__social__item
          a(href="https://github.com/elenabravo", target="_blank", rel="noopener").link.contact__social__item__link
            span.link--inner.contact__social__item__link--inner
              span.link--hover
                img(src="./images/hover-line-lg.svg")
            .contact__social__item__link__label Github
        li.contact__social__item
          a.link(href="https://www.linkedin.com/in/elena-bravo/", target="_blank", rel="noopener").contact__social__item__link.hover--02
            span.link--inner.contact__social__item__link--inner
              span.link--hover.contact__social__item__link--hover
                img(src="./images/hover-line-lg.svg")
            .contact__social__item__link__label LinkedIn
        li.contact__social__item
          a.link(href="https://spoti.fi/34t4OZJ", target="_blank", rel="noopener").contact__social__item__link
            span.link--inner.contact__social__item__link--inner
              span.link--hover.contact__social__item__link--hover
                img(src="./images/hover-line-lg.svg")
            .contact__social__item__link__label Spotify
