section.intro
  .intro__main.wrap
    h1.intro__main__heading Front-end JAMstack Developer
    a(href="mailto:hey@elenabravo.com").intro__main__cta
      span.intro__main__cta__inner
      span.intro__main__cta__text Get in</br>touch

  .intro__scroll-down
    .intro__scroll-down__container.wrap
      a(href="#about").intro__scroll-down__link
        img(src="./images/arrow.svg").intro__scroll-down__img
