section#stack.stack
  .wrap.stack__wrap
    .stack__row
      h2.stack__heading Stack/Technologies
    .stack__row
      p.stack__text Javascript, React, Next, Graphql, Apollo, Redux, Webpack, Jest, React Testing Library, Cypress, Node, Express, Sass, CSS-in-JS, Tailwindcss, GSAP, Pug, Git, Gitlab,  Storybook, Firebase, Netlify, Gatsby, Figma, Illustrator
      img.stack__img.stack--skelly(src="./images/skelly.svg")

