section.section#stack.stack
  .wrap.stack__wrap
    .stack__row
      h2.text-img.stack__heading Stack/Technologies
    .stack__row
      p.stack__text JAVASCRIPT, TYPESCRIPT, REACT, NEXT, GRAPHQL, APOLLO, REDUX, WEBPACK, JEST, REACT TESTING LIBRARY, CYPRESS, NODE, EXPRESS, SASS, CSS IN JS, TAILWINDCSS, GSAP, PUG, GIT, GITLAB,  STORYBOOK, FIREBASE, NETLIFY, GATSBY, FIGMA, ILLUSTRATOR
      img.stack__img.stack--skelly(src="./images/skelly.svg")

